.app-module.popup{
    opacity:0;
    transition: opacity 0.3s;
    z-index:-2;
    position: fixed;
    width:100%;
    left:0;
    top:0;
    &.out-of-stock{
        .js-target{
            padding:1.5;
        }
    }
    &.is-rendered{
        opacity:1;
        z-index:99999;
        .content{
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -o-transform: translateY(0px);
        }
    }
    .content-container{
        margin-left:20px;
        margin-right:20px;
        margin-top:200px;
        @media screen and (max-width:600px){
            margin-top:20px;
        }
    }
    .content{
        position: relative;             
        border:2px solid #CDA99D;
        background:#F5EFEC;
        z-index:899;
        max-width:550px;
        min-height:300px;
        margin:0 auto;
        width:100%;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);
        transition:transform 0.5s;
        -webkit-transition:transform 0.5s;
    }
    h3{
        font-size:1.5em !important;
        font-weigt:800 !important;
    }
    .newsletter-form-button{
        color:#CDA99D !important;
        box-shadow:none !important;
        border:2px solid #CDA99D !important;
        &:hover{
            background:#CDA99D !important;
            color:black !important;
        }
    }
    .js-target{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div{
        opacity:1 !important;
        background:none;
    }
    .close{
        position: absolute;
        right:0;
        padding:1em;
        font-size:2em;
        opacity:0.5;
        color:#CDA99D;
        z-index:999;
        cursor:pointer;
    }
}

